
body{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.headertitleleftone {
  justify-content: right;
  display: flex;
  padding: 5;
  font-size: 14px;
}

.headertitle {
  justify-content: left;
  display: flex;
  padding: 20;
}

.header {
  background-color: #adadad;
  padding: 20px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
    display: flex;
}

.randomimagecontainer {
  text-align: center;
  margin: 20px;
}

.imagecontainer {
  text-align: center;
  margin: 20px;
}

.titleimagetext {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.footerthingy {
  background-color: #adadad;
  padding: 1px;
  text-align: center;
  margin-top: 20px;
}

.textofthefooter {
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
}

.artworkcontainer {
  margin: 20px;
  background-color: #adadad;
  padding: 10px;
}

.artworktext {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #000000;
  text-align: center;
  padding: 10px;
}

.artworkimagecontainer {
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.artworkimagecontainer img{
  justify-content: center;
  width: 100%;
  padding: 20px;;
}

.ocimages img{
  width: 200px;
  height: 200px;
  padding: 20px;

}

.ocimagecontainer{
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  background-color: rgb(104, 104, 104);

}

.headerdirection a{
  justify-content: baseline;
  display: table;
  gap: 20px;
  font-size: 16px;
  margin-top: 10px;;
  background-color: rgb(109, 109, 109);
  padding: 5px;
}